@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}

div.quadrado{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 238, 255);
    border-radius: 10px;
    color: white;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: trasnform 1s ease;
}

body{
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Doto', sans-serif;
}


@keyframes expandir{
    0% {width: 200px;}
    50%{width: 100vw;}
    100%{width: 200px;}
}

.expandir{
    animation: expandir 2s ease-in-out infinite;
}